@model List<FixMens.Models.ViewModels.DetalleEgresos>
@{
    ViewBag.Title = "GetAnticiposEgresos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Modal Structure -->



<div class="col s12">
    <h4>Detalle Anticipos en Egresos</h4>
    <table class="striped">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Hora
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Descripción
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @item.Fecha.ToShortDateString()
                    </th>
                    <th>
                        @item.Hora.ToShortTimeString()
                    </th>
                    <th>
                        $@item.Cantidad
                    </th>
                    <th>
                        @item.Descripcion
                    </th>
                </tr>

            }

        </tbody>
    </table>
</div>








